NEXT_PUBLIC_STRAPI_URL=https://strapi.cihuy-familly.my.id
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=myretroporto.cihuy-familly.my.id
NEXT_PUBLIC_PLAUSIBLE_API_HOST=https://analytics.cihuyproject.my.id
STRAPI_PROJECTS_ENDPOINT=projects-dawwi
STRAPI_PUBLIC_PROJECTS_ENDPOINT=public-projects
STRAPI_CLOSE_PROJECTS_ENDPOINT=close-projects
STRAPI_EXPERIENCES_ENDPOINT=work-experiences-dawwi
# Optional jika endpoint Strapi butuh auth
# STRAPI_API_TOKEN=
