NEXT_PUBLIC_STRAPI_URL=https://strapi.cihuy-familly.my.id
STRAPI_PUBLIC_PROJECTS_ENDPOINT=public-projects
STRAPI_CLOSE_PROJECTS_ENDPOINT=close-projects
STRAPI_EXPERIENCES_ENDPOINT=work-experiences
# Optional jika endpoint Strapi butuh auth
# STRAPI_API_TOKEN=
